.gradle/
.idea/
local.properties
build/
*/build/
*.iml
captures/
.externalNativeBuild/
.cxx/
当前可用地址及admin-api.txt
API-user.md
架构方案策划.txt
桌面组件软件开发说明.md
window.xml
home.xml
*.png
*.jpg
*.jpeg
*.webp
*.apk
